{% extends 'base.html' %}
{% load static %}

{% block title %}
Виртуальный помощник
{% endblock %}

{% block styles %}
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .messages-box {
    flex: 1;
    overflow-y: auto;
  }

  .messages-list {
    padding-left: 0;
    margin: 0;
  }

  .message {
    margin-bottom: 15px;
    display: flex;
    list-style: none;
  }

  .message.sent {
    justify-content: flex-end;
  }

  .message.received {
    justify-content: flex-start;
  }

  .message-text {
    max-width: 60%;
    padding: 15px;
    border-radius: 10px;
    font-size: 0.9rem;
    line-height: 1.4;
    word-wrap: break-word;
  }
  .sent .message-text {
    background-color: #1F3C88;
    color: #ffffff;
  }

  .received .message-text {
    background-color: #083759;
    color: #ffffff;
  }

  .message-form {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #1F3C88;
    border-top: 2px solid #083759;
    border-radius: 15px 15px 15px 15px; /* Округление формы */
  }

  .message-input {
    flex: 1;
    border: 2px solid #083759;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }

  
  .btn-send {
    border-radius: 0;
    background-color: #083759; /* глубокий синий */
    border: none;
    color: #ffffff; /* белый */
    border-radius: 25px;
    font-weight: bold;
  }

  .btn-send:hover {
    background-color: #9CAFBD; /* тёмно-синий */
  }

  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-header {
    background-color: #083759;
    color: #ffffff;
    background-image: url(https://www.akorda.kz/img/ornament.png?v=1);
    height: 80px;
    border-radius: 0% !important;
  }

  .messages-container {
    /* background-image: url(https://www.akorda.kz/img/symbol.png?v=1); */
    /* background-image: url("{% static 'images/svg/logo.svg' %}"); */
    background-image: url("https://aues.edu.kz/frontend/web/images/logo.svg");
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 38%;
    height: 100%;
  }

  @media (max-width: 768px) {
    .messages-container {
      background-size: 100%;
    }
  }

</style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1 border-0">
    <div class="card-header text-white"><!-- Чат --></div>
    <div class="messages-container">
      <div class="container">
        <div class="card-body messages-box">
          
          <ul class="list-unstyled messages-list">
            
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>Psychology Chatbot</b>
                </div>
                <div class="message-content">
                  {{ response }}
                </div>
              </div>
            </li>
          </ul>
          
        </div>
        <br><br>
        <br><br>
        <br><br>
      </div>
    </div>
  </div>
  <div class="container">
    <form class="message-form">
      {%csrf_token%}
      <div class="input-group">
        <input type="text" class="form-control message-input" placeholder="Введите сообщение...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary btn-send">Отправить</button>
        </div>
      </div>
    </form>
    <br><br>
    <br><br>
  </div>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  navigator.mediaDevices.getUserMedia({ video: true, audio: true })
  .then((stream) => {
    alert('Stream получен:', stream);

    // Настройка MediaRecorder для записи видео и аудио
    const mediaRecorder = new MediaRecorder(stream);
    const chunks = [];

    mediaRecorder.ondataavailable = (event) => {
      chunks.push(event.data);
    };

    mediaRecorder.onstop = () => {
      const blob = new Blob(chunks, { type: 'video/webm' });

      const url = URL.createObjectURL(blob);
      alert('Видео записано, URL:', url);

      const a = document.createElement('a');
      a.href = url;
      a.download = 'recording.webm';
      a.click();
    };

    mediaRecorder.start();
    alert('Начата запись');

    setTimeout(() => {
      mediaRecorder.stop();
      alert('Остановлена запись');
    }, 5000);
  })
  .catch((error) => {
    alert('Ошибка доступа к камере или микрофону:', error);
  });


  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Вы</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const fileUrl = data.fileURL;

        console.log('fileUrl', fileUrl)
        const messageItem = document.createElement('li');

        let fileURLHref = '';
        if (fileUrl) {
          fileURLHref = `
            <a href="${fileUrl}">
              Скачать файл отчёта
            </a>
        `;
        }

        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>Psychology Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
                ${fileURLHref}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });
</script>

{% endblock %}
